@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/* this is gonna be stuff brian add */
/* .col-md-6{
  padding: 0%;
} */
.row-padding{
  margin-left: 2rem;
  height: 40rem;
}
.example{
  margin: 0 6rem;
}
#bootstrap-overrides .col-md-6{
  padding:1px;
}

.padding{
  padding: 2px;
}
img.intPics{
  /* transform: rotate(90deg); */
  max-width: 100%;
}
.interiorImages{
  width:100%;
  margin-bottom: 2rem;
  padding:1rem;
}
.intPics{
  margin: 1rem;
}
footer h1{
  text-align: center;
}
footer{
  background-color: #3f3f3f;
  color: white;
}
h1{
  text-align: center;
}
/* end of what brian added */

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  margin: 0;
}


.navbar{ /*style of the navigation bar, .navbar referece it to the nav bar class*/
  padding: .2rem;
}

.navbar-brand img{
  height: 3rem;
  
  display: block;
  max-width:230px;
  max-height:141px;
  width: auto;
  height: auto;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 16px;
}

.carousel-inner img{ /*refercing to the slide show with the class called carousel-inner*/
 width: 100%;
 height: 90%;

}

.heading{
  padding: 30px;
  text-align: center;
  font-size: 32px;
  background: rgb(56, 54, 54);
  color: white;
}
.head {
  padding: 40px;
  text-align: center;
  background: rgb(56, 54, 54);
  color: white;
  font-size: 18px;
  width: 100%;
 
}

.id{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
  padding-top: 2rem
}


.footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;

}


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








